.wrapperDiv{
  display: grid;
  gap:15px;
    .characterNameBlock{
      display: flex;
      justify-content: center;
      .columnDisplay{
        display: flex;
        flex-direction: column;
        gap:15px;
        .centerName{
        display: flex;
        justify-content: center;
      }
      }
      .changeButtonDisplay{
        display: flex;
        flex-direction: column;
        font-size: 30px;
      }


    }
}